.App-logo {
  position: absolute;
  left:20%;
  height: 14vmin;
  pointer-events: none;
  border-radius: 2%;
}

.App {
  text-align: center;
  width: 100%;
  height:500px
}
body{
  background-color: #FBFBFB;
}

.dropArea{
  background-color: #a4ccd4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: bottom;
  margin:0px auto;
  width:100%;
  height:200px;
  background-image: url("./upload.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-bounce infinite 2s ease-in-out;
  }
}
/*App header*/
.App-header {
  background-color: #bbbbbb;
  width:100%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin:0px auto;
}

#signIn{
  vertical-align: middle;
  position: absolute;
  display: inline-block;
  right: 20%;
}

.googleSignIn{

  display: inline-block;
  padding:30px;
  margin:25px;
  margin-top:-5px;
  font-family: 'Courier New', Courier, monospace;
  font-size:20px;
  background-color: #A4CCD4;
  color: black;
  border: none;
  max-width: 175px;
  height: 40px;

}

/*standardized tile*/
.Tile{
  display: inline-block;
  padding:25px;
  margin:25px;
  font-family: 'Courier New', Courier, monospace;
  font-size:20px;
  background-color: #A4CCD4;
  color: black;
  border: none;
  max-width: 175px;
}
/*table and the table items*/
.textTable{
  min-width:800px;
  min-height: 500px;
  background-color: #FBFBFB;
  width:60%;
  height:auto;
  margin:20px auto
}
.inputSide{
  font-family: 'Courier New', Courier, monospace;
  background-color:#BBBBBB;
  padding:20px;
}

#dropSide{
  background-color:#A4CCD4;
  padding:20px;
  border-radius: 5%;
}


#inputField{
  background-color: #FBFBFB;
  color: black;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid darkblue;
  outline: none;
width:60%;
height:auto;
border-bottom: 2px solid ;
}

table>tr>td{
  width:25%
}
.parentDiv{
  display: flex;
  grid-template-columns: 1rem 1rem;
}
.fileList{
  font-display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}
/*logo translation (bounce)*/
@keyframes App-logo-bounce {
  0%{
    transform: translateY(-60px)
  }
  25%{
    transform: translateY(-60px)
  }
  60%{
    transform: translateY(-70px)
  }
  75%{
    transform: translateY(-60px)
  }
  100%{
    transform: translateY(-60px)
  }
}


/*Input field and items*/
.item-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.item-form {
  margin-bottom: 32px;
}
.item-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.item-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #E4ECEB;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
}

.item-input::placeholder {
  color: black;
}

.item-button {
  padding: 15px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #E4ECEB;
  color: black;
  text-transform: capitalize;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.item-row:nth-child(n) {
  background: #BBBBBB;
  color:black;
  border:1px solid black;
}




/*div scroll for rightside*/
.outer{
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FBFBFB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #659dad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a7e8c;
}





/*FOOTER*/
footer{
  background-color: #BBBBBB;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0%;
  width: 100%;
  /* Height of the footer*/ 
  max-height: 15%;
}
