*{
  font-family: 'Roboto', sans-serif;

}

.App-logo {
  min-width: 175px;
  min-height: 70px;
  display: flex;
  position: absolute;
  left:15%;
  height: 3vw;
  pointer-events: none;
  border-radius: 15px;
  
}

.App {
  text-align: center;
  width: 100%;
  height:500px
}

body{
  background-color: #FBFBFB;
}

.dropArea{
  background-color: #a4ccd4;
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin:0px auto;
  width:100%;
  height:200px;
  background-image: url("./upload.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
  border-radius: 5px;
}
/*App header*/
.App-header {
  background-color: #bbbbbb;
  display: table;
  width:100%;
  height: 70px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
}

#signIn{
  vertical-align: middle;
  position: absolute;
  display: inline-block;
  right: 15%;
}

.googleSignIn{
  display: inline-block;
  padding:15px;
  padding-bottom: 35px;
  font-size:20px;
  margin-top: 10px;
  background-color: #A4CCD4;
  color: black;
  border: none;
  max-width: 300px;
  height: 30px;
  display: flex;
  text-align: center;
  border-radius: 25px;
}

/*standardized tile*/
.Tile{
  display: inline-block;
  padding:15px;
  margin:20px;
  font-size:20px;
  background-color: #A4CCD4;
  color: black;
  border: none;
}
/*table and the table items*/
.textTable{
  min-width:800px;
  min-height: 500px;
  background-color: #FBFBFB;
  width:60%;
  height:auto;
  margin:20px auto
}
.inputSide{
  background-color:#BBBBBB;
  padding:20px;
  font-size:15px;
  border-radius: 20px;
}

#dropSide{
  background-color:#A4CCD4;
  padding:20px;
  border-radius: 20px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}

#dropTable{
  margin:0px auto;
  }

  #bodyContainer{
    margin:0px auto;
    }

#inputField{
  background-color: #FBFBFB;
  color: black;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid darkblue;
  outline: none;
  width:60%;
  height:auto;
  border-bottom: 2px solid;
  border-radius: 20px;
}

table>tr>td{
  width:25%
}
.parentDiv{
  display: flex;
  grid-template-columns: 1rem 1rem;
}
.fileList{
  font-display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}



/*Input field and items*/
.item-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.item-form {
  margin-bottom: 32px;
}
.item-container {
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 25px;
  background: #dcecec
}

.item-input {
  padding: 14px 32px 14px 16px;
  border-radius: 25px;
  border: 2px solid #E4ECEB;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
  font-size: 20px;
}

.item-input::placeholder {
  color: black;
}

.item-button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  background-color: #E4ECEB;
  color: black;
  text-transform: capitalize;
}

.item-row {
  background-color:#161a2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  padding: 16px;
  border-radius: 25px;
  width: 80%;
}

.item-row:nth-child(n) {
  background: #BBBBBB;
  color:black;
  border:1px solid black;
}

/*div scroll for rightside*/
.outer{
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 20px;
}

/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FBFBFB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #659dad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a7e8c;
}


/*FOOTER*/
footer{
  background-color: #BBBBBB;
  position: fixed;
  bottom: 0%;
  width: 100%;
  /* Height of the footer*/ 
  height: 80px;
}
